body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

header {
  background: #1b1b1b;
  padding: 20px 0;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a.active {
  color: #00ff9d;
}

.hero {
  margin-top: 60px;
}

.btn {
  display: inline-block;
  background: #00ff9d;
  color: black;
  padding: 12px 25px;
  border-radius: 10px;
  font-weight: bold;
  text-decoration: none;
}

.status-container {
  margin-top: 50px;
}

.login-box {
  margin-top: 60px;
  background: #1a1a1a;
  display: inline-block;
  padding: 30px;
  border-radius: 10px;
}

.login-box input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

button {
  background: #00ff9d;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #00cc7b;
}

.hidden {
  display: none;
}

.panel {
  margin-top: 40px;
  background: #1a1a1a;
  display: inline-block;
  padding: 25px;
  border-radius: 10px;
}
.hidden {
  display: none !important;
}
